html {
  background-color: #0d1117;
  color: #f0f6fc;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: inherit;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid #0075ff;
  border-radius: 2px;
  background-color: #0075ff;
  color: #f0f6fc;
  float: right;
  cursor: pointer;
}

button:hover {
  background-color: #005cc8;
}

input[type='text'] {
  width: 160px;
  font-family: inherit;
  padding: 4px 8px;
  border: 1px solid #f0f6fc;
  border-radius: 2px;
  background-color: #0d1117;
  color: #f0f6fc;
}

input[type='text']::placeholder {
  color: #7a7b7d;
}

input[type='checkbox'] {
  margin-right: 8px;
}
