@keyframes roll-right {
  0% {
    opacity: 0;
    transform: translate(-16px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
  animation: roll-right 1s;
}

.title {
  margin: 16px 0;
  font-size: 1.5rem;
  font-weight: 600;
}
